<template>
  <div class="hello">
    <h1>{{ coords }}</h1>
    <div id="map" class="map"></div>
  </div>
</template>

<script>
import "ol/ol.css";
import Map from "ol/Map";
import { OSM, Vector as VectorSource } from "ol/source";
import { Tile as TileLayer, Vector as VectorLayer } from "ol/layer";
import View from "ol/View";
import { fromLonLat } from "ol/proj";

import Point from "ol/geom/Point";
import Feature from "ol/Feature";
import { Icon, Style } from "ol/style";

export default {
  name: "HelloWorld",
  props: {
    msg: String,
    coords: Object,
  },
  watch: {
    coords: function() {
      this.truck.setGeometry(
        new Point(fromLonLat([this.coords.lon, this.coords.lat]))
      );
    },
  },
  async mounted() {
    this.initMap();
    // console.log(this.truck);
  },
  methods: {
    initMap() {
      let nairobi = fromLonLat([this.coords.lon, this.coords.lat]);
      this.truck = new Feature({
        geometry: new Point(nairobi),
      });

      var iconStyle = new Style({
        image: new Icon({
          src: "https://images.sendyit.com/web_platform/vendor_type/top/2.svg",
          imgSize: [512, 512],
          scale: 0.1,
        }),
      });

      this.truck.setStyle(iconStyle);

      // create vector layer
      var source = new VectorSource({
        features: [this.truck],
      });

      var vector = new VectorLayer({
        source: source,
      });

      this.map = new Map({
        layers: [
          new TileLayer({
            source: new OSM(),
          }),
          vector,
        ],
        target: "map",
        view: new View({
          center: nairobi,
          zoom: 15,
        }),
      });

      // return map;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.map {
  width: 100%;
  height: 600px;
}
</style>
