<template>
  <div>
    <vl-map
      ref="map"
      :load-tiles-while-animating="true"
      :load-tiles-while-interacting="true"
      data-projection="EPSG:4326"
      style="height: 500px"
    >
      <vl-view :zoom.sync="zoom" :center.sync="center" ref="mapview"></vl-view>
      <vl-layer-tile id="osm">
        <vl-source-osm></vl-source-osm>
      </vl-layer-tile>

      <vl-layer-vector ref="vectorLayer">
        <vl-feature ref="point" id="point">
          <vl-geom-point
            :coordinates="[coords.lon, coords.lat]"
          ></vl-geom-point>
          <vl-style-box>
            <vl-style-icon
              src="../assets/truck.svg"
              :scale="0.15"
              :imgSize="[512, 512]"
              :rotation="markerRotation"
            ></vl-style-icon>
          </vl-style-box>
          <vl-overlay :position="[coords.lon, coords.lat]" :offset="[10, 10]">
            <p class="is-light box content">
              <strong>{{ `${driver}` }}:</strong><br />
              {{ `${coords.lon}, ${coords.lat}` }}
            </p>
          </vl-overlay>
        </vl-feature>
      </vl-layer-vector>
    </vl-map>
  </div>
</template>
<script>
import { fromLonLat } from "ol/proj";

function locationBearing(locationA, locationB) {
  const lat1 = (locationA.lat * Math.PI) / 180;
  const long1 = (locationA.lon * Math.PI) / 180;
  const lat2 = (locationB.lat * Math.PI) / 180;
  const long2 = (locationB.lon * Math.PI) / 180;

  const dLon = long2 - long1;

  const y = Math.sin(dLon) * Math.cos(lat2);
  const x =
    Math.cos(lat1) * Math.sin(lat2) -
    Math.sin(lat1) * Math.cos(lat2) * Math.cos(dLon);

  let bearing = Math.atan2(y, x);

  bearing = (bearing * 180) / Math.PI;
  bearing = (bearing + 360) % 360;

  return bearing;
}

export default {
  props: {
    coords: Object,
    deliveryStatus: String,
    driver: String,
  },
  watch: {
    coords: function(currentLoc, lastLoc) {
      let bearing = locationBearing(lastLoc, currentLoc);
      let theTurn =  -1*bearing > 180 ? bearing / 2 : bearing;
      theTurn = theTurn * (Math.PI  / 180); // convert to radians
     
      this.$refs.mapview.$view.animate({
        center: fromLonLat([this.coords.lon, this.coords.lat]),
        duration: 2000,
      });
      
      this.currentPosition = [this.coords.lat, this.coords.lon];
      this.markerRotation = theTurn;

    },
  },
  data() {
    return {
      zoom: 16,
      center: [36.776811, -1.298982],
      markerRotation: 0,
      rotation: 0,
      currentPosition: [0, 0],
      geolocPosition: undefined,
    };
  },
};
</script>
<style lang="scss">
$color: red;
</style>
