<template>
  <div id="app">
    <Map :coords="currentLocation" :driver="this.driver" />
  </div>
</template>

<script>
import Map from "./components/Map.vue";

export default {
  name: "App",
  components: {
    Map,
  },
  data: function() {
    return {
      currentLocation: { lat: -1.298982, lon: 36.776811 },
      driver: "Driver A1",
      timer: null,
      responseTime: 5,
      cursor: 0,
      driverA: [
        [-1.298982, 36.776811],
        [-1.297459, 36.776747],
        [-1.296193, 36.776726],
        [-1.296097, 36.779236],
        [-1.296151, 36.777637],
        [-1.296215, 36.776693],
        [-1.294252, 36.776586],
        [-1.294048, 36.77679],
        [-1.293973, 36.779118],
        [-1.292622, 36.779075],
        [-1.291844, 36.779049],
      ],
      cancelledDriver: { lat: -1.300355, lon: 36.77385 },
      driverB: { lat: -1.291879, lon: 36.778389 },
    };
  },
  methods: {
    notification(type, msg) {
      this.$toast[type](msg, {
        driver: "Driver A1",
        position: "top-center",
        timeout: 2000,
        closeOnClick: true,
        pauseOnFocusLoss: true,
        pauseOnHover: true,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    setupTimer() {
      this.notification("info", "Delivery in progress!");

      this.timer = setInterval(() => {
        this.loadDriverLocations();
      }, this.responseTime * 1000);
    },
    simulateCanceledDelivery() {
      this.currentLocation = this.cancelledDriver;
      this.driver = "Driver A2";
      this.notification("success", "Delivery Accepted by Driver A");
      this.timer = setTimeout(() => {
        this.notification("warning", "Delivery cancelled");
      }, 20000);
    },
    loadDriverLocations() {
      if (this.cursor >= this.driverA.length) {
        this.notification("success", "Delivery Complete!");
        clearInterval(this.timer);
        this.simulateCanceledDelivery();
      } else {
        const point = this.driverA[this.cursor];
        this.currentLocation = {
          lat: point[0],
          lon: point[1],
        };
        this.cursor += 1;
      }
    },
  },
  mounted() {
    this.setupTimer();
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
